.profile__wrap
	|!{backPage}
	.profile__main
		.profile-view
			h3.profile__title Личные данные
			.profile__head
				.profile__avatar
				.profile__person
					.profile__name #{userName}
					.profile__actions
						|!{linkProfileEdit}
						|!{linkPasswordEdit}
			.profile__form
				each fieldset in fieldsets
					|!{fieldset}
