.chat
	|!{popup}
	|!{popupCreateChat}
	.chat__inner
		.chat-side 
			|!{btnCreateChat} 
			.chat-side__header
				if currentUser && currentUser.avatar
					img(
						src=currentUser.avatar
						class='chat__avatar'
					)
				else
					.chat__wrap-avatar
				.chat-side__name
					if currentUser && currentUser.avatar
						|#{currentUser.display_name}
				.point-button.chat__menu-button
					ul.chat__menu-inner
						li.chat__menu-item
							|!{linkProfile}
						li.chat__menu-logout
							|!{btnLogout}
			.chat-side__search
				.chat-side__search-item
					.chat-side__search-icon
					input.chat-side__search-input(
						placeholder='Поиск'
					)
			.side__chat-list
				|!{chatsList} 
		.chat-main
			|!{chatRoom}
